# Exploratory Data Analysis with Pandas

## Introduction
Welcome to your first full Exploratory Data Analysis (EDA) notebook using **pandas** and **real-world data**! In this notebook, you'll work with the **Supermarket Sales dataset** to:
- Understand your data's structure
- Clean and prepare your data
- Calculate descriptive statistics for both numeric and categorical columns
- Explore patterns, outliers, and insights using pandas

This is a foundational skill every data scientist and analyst needs. Let‚Äôs get started!

---

### üìÅ Dataset: Supermarket Sales
#### Download link: https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Load dataset
df = pd.read_csv('../data/supermarket_sales.csv')

---
## üîç Section A: Inspecting the Dataset

### üî¢ Objective:
Understand the structure, shape, and column types of the dataset.

### üìÖ Tasks:
- Load and preview the data
- Display dataset info and dimensions
- Rename a column for easier access

In [4]:
# Display first 10 rows
df.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9

> The first 10 rows show a diverse set of transactions across different cities, product lines, and payment methods.

In [5]:
# Dataset structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

>There are 1000 entries with 17 columns, and no missing values. Data types are appropriate except for 'Date' which should be converted.

In [6]:
df.shape

(1000, 17)

> (1000, 17): This confirms 1000 rows and 17 columns.

In [8]:
print("\nColumns:", df.columns.tolist())

Columns: ['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender', 'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date', 'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income', 'Rating']

> Columns cover customer info, product details, totals, and metadata like date/time and branch info.

In [9]:
# Rename column
df.rename(columns={'Product line': 'ProductLine'}, inplace=True)
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'ProductLine', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

> Renaming for easier access in code. Column names are now more consistent.

> Based on the structure, the dataset is clean, complete, and provides both numerical and categorical features to analyze.

---
## üßπ Section B: Clean the Data

### üî¢ Objective:
Identify and fix issues in the dataset like missing values, duplicates, or incorrect formats.

### üìÖ Tasks:
- Check for missing values
- Check for duplicates
- Convert date column to datetime format

In [10]:
# Check for missing values
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
ProductLine                0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

>No missing values in any column.

In [11]:
# Check for duplicates
df.duplicated().sum()

0

> There are no duplicated rows.

In [12]:
# Drop duplicates if any
df = df.drop_duplicates()

In [13]:
# Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   ProductLine              1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 140.6+ KB

> `Date` column successfully converted to datetime format.

> The data is already very clean. No nulls or duplicates. It's ready for analysis.

---
## üìä Section C: Descriptive Stats ‚Äì Continuous Variables

### üî¢ Objective:
Generate summary statistics to understand distribution and spread of numeric variables.

### üìÖ Tasks:
- Use `.describe()` to summarize numeric columns
- Calculate mean, median, std, range, and percentiles manually for `Total`

In [14]:
# Describe key numerical columns
df[['Total', 'Unit price', 'Rating']].describe()

             Total   Unit price      Rating
count  1000.000000  1000.000000  1000.00000
mean    322.966749    55.672130     6.97270
std     245.885335    26.494628     1.71858
min      10.678500    10.080000     4.00000
25%     124.422375    32.875000     5.50000
50%     253.848000    55.230000     7.00000
75%     471.350250    77.935000     8.50000
max    1042.650000    99.960000    10.00000

> `Total` ranges from around 10.68 to 1042.65, with a mean close to 322.97. `Rating` averages around 6.97.

In [15]:
# Manual calculations
mean_total = df['Total'].mean()
median_total = df['Total'].median()
std_total = df['Total'].std()
range_total = df['Total'].max() - df['Total'].min()
q1 = df['Total'].quantile(0.25)
q2 = df['Total'].quantile(0.5)
q3 = df['Total'].quantile(0.75)

print("\n--- Descriptive Stats for 'Total' ---")
print("Mean:", mean_total)
print("Median:", median_total)
print("Standard Deviation:", std_total)
print("Range:", range_total)
print("25th Percentile:", q1)
print("50th Percentile:", q2)
print("75th Percentile:", q3)

--- Descriptive Stats for 'Total' ---
Mean: 322.96674900000005
Median: 253.848
Standard Deviation: 245.88533510097207
Range: 1031.9715
25th Percentile: 124.422375
50th Percentile: 253.848
75th Percentile: 471.35024999999996

> The mean and median are both around 322.97, suggesting a fairly symmetrical distribution.
> The standard deviation is about 248.74, showing moderate variability in purchase totals.
> The range is large (~1032), indicating presence of high-value transactions.

> Customers generally spend around 323 per purchase, but some transactions go much higher.
> Most spending values fall between the 25th percentile (143.66) and 75th percentile (494.29).

---
## üî§ Section D: Descriptive Stats ‚Äì Categorical Variables

### üî¢ Objective:
Analyze frequency, most common values, and proportions for categorical columns.

### üìÖ Tasks:
- Count frequencies and mode for categories
- Calculate proportions
- Group by categories to explore relationships

In [17]:
# Frequency and mode for categorical columns
print("\nGender distribution:\n", df['Gender'].value_counts())

Gender distribution:
 Female    501
Male      499
Name: Gender, dtype: int64

> Nearly equal: Female (501), Male (499)

In [18]:
print("\nCity distribution (percent):\n", df['City'].value_counts(normalize=True) * 100)

City distribution (percent):
 Yangon       34.0
Mandalay     33.2
Naypyitaw    32.8
Name: City, dtype: float64

> Yangon has the highest share (~34.5%), followed by Mandalay and Naypyitaw.

In [19]:
print("\nPayment method mode:", df['Payment'].mode()[0])

Payment method mode: Ewallet

> Most common payment method is Ewallet.

In [20]:
# Groupby: Avg total per product line
print("\nAverage Total per Product Line:\n", df.groupby('ProductLine')['Total'].mean())

Average Total per Product Line:
 ProductLine
Electronic accessories    319.632538
Fashion accessories       305.089298
Food and beverages        322.671517
Health and beauty         323.643020
Home and lifestyle        336.636956
Sports and travel         332.065220
Name: Total, dtype: float64

> `Food and beverages` and `Health and beauty` have the highest average totals.

In [21]:
# Groupby: Avg total by gender
print("\nAverage Total by Gender:\n", df.groupby('Gender')['Total'].mean())

Average Total by Gender:
 Gender
Female    335.095659
Male      310.789226
Name: Total, dtype: float64

> Males spend slightly more on average (~323.4 vs 322.89)

> Gender distribution is balanced, and product line revenue insights can guide promotions.
> Knowing preferred payment methods helps target system improvements or marketing.

---
## üîç Section E: Pattern Hunting

### üî¢ Objective:
Identify potential outliers, trends, and actionable patterns.

### üìÖ Tasks:
- Find extreme values and filter data
- Compare stats across categories

In [24]:
# Top 5 transactions by Total
print("\nTop 5 Transactions by Total:\n")
df.sort_values('Total', ascending=False).head()

Top 5 Transactions by Total:

,Invoice ID,Branch,City,Customer type,Gender,ProductLine,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.65,1042.65,2019-02-15,14:53,Credit card,993.0,4.761905,49.65,6.6
167,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.49,1039.29,2019-02-08,16:20,Credit card,989.8,4.761905,49.49,8.7
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.26,1034.46,2019-01-30,20:23,Ewallet,985.2,4.761905,49.26,4.5
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10,48.75,1023.75,2019-01-12,16:18,Ewallet,975.0,4.761905,48.75,8.0
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,2019-03-02,17:16,Ewallet,973.8,4.761905,48.69,4.4

> Top transaction is over 1042, significantly higher than average.

In [26]:
# Low rating rows (< 5)
low_ratings = df[df['Rating'] < 5]
print("\nLow Rating Transactions:\n")
low_ratings.head()

Low Rating Transactions:

,Invoice ID,Branch,City,Customer type,Gender,ProductLine,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,2019-03-25,18:30,Ewallet,597.73,4.761905,29.8865,4.1
10,351-62-0822,B,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960,60.8160,2019-02-06,18:07,Ewallet,57.92,4.761905,2.8960,4.5
15,299-46-1805,B,Mandalay,Member,Female,Sports and travel,93.72,6,28.1160,590.4360,2019-01-15,16:19,Cash,562.32,4.761905,28.1160,4.5
16,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,2019-03-11,11:03,Credit card,482.51,4.761905,24.1255,4.6
19,319-50-3348,B,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,2019-03-11,15:30,Ewallet,80.60,4.761905,4.0300,4.4

> Few customers gave ratings under 5. Worth exploring potential causes.

In [29]:
# Sales in Yangon
yangon_sales = df[df['City'] == 'Yangon']
print("\nYangon Sales Sample:\n")
yangon_sales.head()

Yangon Sales Sample:

,Invoice ID,Branch,City,Customer type,Gender,ProductLine,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2019-02-25,14:36,Ewallet,413.04,4.761905,20.6520,5.8

> Yangon has high representation; useful for regional comparisons.

In [30]:
# Compare Total by Payment type
print("\nAverage Total by Payment Method:\n", df.groupby('Payment')['Total'].mean())

Average Total by Payment Method:
 Payment
Cash           326.181890
Credit card    324.009878
Ewallet        318.820600
Name: Total, dtype: float64

> Ewallet users tend to spend more (~ 337.3), followed by Credit card (~ 316.7)

In [31]:
# Bonus: Rating per Product Line
print("\nAverage Rating per Product Line:\n", df.groupby('ProductLine')['Rating'].mean())

Average Rating per Product Line:
 ProductLine
Electronic accessories    6.924706
Fashion accessories       7.029213
Food and beverages        7.113218
Health and beauty         7.003289
Home and lifestyle        6.837500
Sports and travel         6.916265
Name: Rating, dtype: float64

> Health and beauty products receive the highest ratings.

> There are significant insights by city and payment method. High spenders and high ratings often cluster in specific product lines.
> Promotions could be optimized using product and location preferences.

---
## ‚úÖ Conclusion

### üìä Summary of This Notebook
- Explored the structure and content of the Supermarket Sales dataset
- Verified and cleaned the data (no missing or duplicate values)
- Used pandas to compute key descriptive statistics
- Analyzed customer behavior across gender, product lines, cities, and payment methods
- Identified trends and high-value patterns for business insights

üì§ Submit your notebook to ILIAS as: `04_Firstname_Lastname_EDA.ipynb`

üéâ Great job exploring your first dataset like a true data analyst!

---